<div id="<%= trip.slug %>" class="row-fluid trip-wrapper" data-lat="<%= trip.coordinates.lat %>" data-lon="<%= trip.coordinates.lon %>" data-kind="start_flag">
	<div class="trip box span12">
		
		<div class="span2"></div>
		<div class="span7">
			<div class="details">
				<p class="event-name"><%= link_to trip.name, 'javascript:void(0);' %></p>
				<p class="days-to-event"><%= trip.days_to_event %></p>
				<p class="event-timings"><%= trip.details %></p>
			</div>
		</div>
		<div class="span3">
			<%= link_to image_tag("trips/#{trip.picture_name}.jpg", :class => "rounded"), 'javascript:void(0);' %>
		</div>
		
		<div class="extras">
			<%= render :partial => 'categories_menu', :locals => { :trip => trip } %>
			<div class="trip-paths">
				<% trip.segments.each do |segment| %>
					<div id="<%= segment.id %>" class="segment" data-path="<%= segment.to_points_list %>" data-colour="<%= segment.color %>" data-details="<%= segment.details %>"></div>
				<% end %>
			</div>
			<div class="trip-pois hidden">
				<% trip.trip_pois.each do |trip_poi| %>
					<%= render trip_poi %>
				<% end %>
			</div>
		</div>
	</div>	
</div>