<div class="row-fluid top-spaced">
	<div class="span12">
		<div class="pull-right">
			<div class="dropdown">
	    	<%= link_to '<i class="icon-chevron-down"></i> Ciudad de México'.html_safe, '#', 
						:class => 'btn btn-inverse', "data-toggle"=>"dropdown" %>
	    	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><a tabindex="-1" href="#">Monterrey</a></li>
					<li><a tabindex="-1" href="#">Guadalajara</a></li>
					<li><a tabindex="-1" href="#">Aguascalientes</a></li>
					<li class="divider"></li>
					<li><a tabindex="-1" href="#">Seleccionar del mapa</a></li>
	    	</ul>
	    </div>
		</div>
	</div>
</div>
<div class="top-spaced"></div>
<h3 class="centered-text">Recorridos populares</h3>
<div class="separator"></div>

<div class="row-fluid trips centered-text">
	<div class="content span12">
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/trips/zocalo_front.jpg') %>
				<div class="details">
					<p class="title">Tlalpan</p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">15</span><span class="text">disponibles</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">30</span><span class="text">rodando</span></a>
				</div>
			</div>
		</div>
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/trips/tacubaya_front.jpg') %>
				<div class="details">
					<p class="title">Tacubaya</p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">10</span><span class="text">disponibles</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">20</span><span class="text">rodando</span></a>
				</div>
			</div>
		</div>
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/trips/condesa_front.jpg') %>
				<div class="details">
					<p class="title">Colonia Roma</p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">10</span><span class="text">disponibles</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">30</span><span class="text">rodando</span></a>
				</div>
			</div>
		</div>
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/trips/paseos_front.jpg') %>
				<div class="details">
					<p class="title">Paseo de los patos</p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">5</span><span class="text">disponibles</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">30</span><span class="text">rodando</span></a>
				</div>
			</div>
		</div>
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/trips/downtown_front.jpg') %>
				<div class="details">
					<p class="title">Centro Histórico</p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">50</span><span class="text">disponibles</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">100</span><span class="text">rodando</span></a>
				</div>
			</div>
		</div>
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/trips/coyoacan_front.jpg') %>
				<div class="details">
					<p class="title">Coyoacán</p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">21</span><span class="text">disponibles</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">75</span><span class="text">rodando</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="top-spaced"></div>
<h3 class="centered-text">Rodadas</h3>
<div class="separator"></div>
<div class="row-fluid">
	<div class="pull-right">
		<ul class="nav nav-pills">
    	<li class="active"><a href="#">Hoy</a></li>
    	<li><a href="#">Semana</a></li>
    	<li><a href="#">Fin de Semana</a></li>
    </ul>
	</div>
</div>
<div class="row-fluid rides centered-text">
	<div class="content centered span12">
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/trips/cicloton_front.jpg') %>
				<div class="details">
					<p class="title">Ciclotón</p>
					<p class="dates"><i class="icon icon-map-marker"></i> Cada domingo 7 AM a 2 PM</p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">90</span><span class="text">disponibles</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">1000</span><span class="text">irán</span></a>
				</div>
			</div>
		</div>
		
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/trips/dinamos_front.jpg') %>
				<div class="details">
					<p class="title">BiciOsos</p>
					<p class="dates"><i class="icon icon-map-marker"></i> Los fines de semana <a href="">@biciosos</a></p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">1</span><span class="text">disponible</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">50</span><span class="text">irán</span></a>
				</div>
			</div>
		</div>
		
		<div class="box rounded-5">
			<div class="core">
				<%= image_tag('/assets/trips/divisiondelsur_front.jpg') %>
				<div class="details">
					<p class="title">División del Sur</p>
					<p class="dates"><i class="icon icon-map-marker"></i> Cada lunes 7:30 PM <a href="">@divisiondelsur</a></p>
				</div>
			</div>
			<div class="stats centered centered-text row-fluid">
				<div class="span6 centered">
					<a href=""><i class="trips-bicycle"></i><span class="number">11</span><span class="text">disponibles</span></a>
				</div>
				<div class="span6 centered">
					<a href=""><i class="trips-people"></i><span class="number">105</span><span class="text">irán</span></a>
				</div>
			</div>
		</div>
	</div>
</div>