<% content_for :panel do %>	
	<div id="user-profile" class="panel" data-url="<%= user_profile_activity_path(@user.username) %>">
		<div class="inner-panel inner-panel-centered inner-panel-small">
			<%= render :partial => 'main_user_info', :locals => {:user => @user} %>
		</div>
		
		<div class="inner-panel inner-panel-centered inner-panel-big activity-container">
			<div class="container-fluid activity-list">
				<% if @user.activities[:cycling_groups].empty? %>
					<% if current_user_equals(@user) %>
						<div class="pull-left">
							<p><%= t('user_profiles.views.main.user_same.no_activity_yet') %> <%= t('user_profiles.views.main.user_same.suggestion') %></p>
						</div>
						<div class="pull-right">
							<div class="btn-group">
								<a href="<%= discover_cycling_groups_new_path %>" class="btn btn-warning btn-small pull-right"><i class="icon icon-plus-sign"></i> <%= t('app.models.cycling_group') %></a>
							</div>
						</div>
					<% else %>
						<p><%= t('user_profiles.views.main.user_different.no_activity_yet') %></p>
					<% end %>
				<% else %>
					<% if current_user_equals(@user) %>
						<div class="pull-left"><p><%=t('user_profiles.views.main.user_same.activity', :number => @user.activities[:cycling_groups].length) %></p></div>
						<div class="pull-right">
							<div class="btn-group">
								<a href="<%= discover_cycling_groups_new_path %>" class="btn btn-warning btn-small pull-right"><i class="icon icon-plus-sign"></i> <%= t('app.models.cycling_group') %></a>
							</div>
						</div>
					<% else %>
						<p class="centered-text"><%= t('user_profiles.views.main.user_different.activity', :number => @user.activities[:cycling_groups].length) %></p>
					<% end %>
				<% end %>
			</div>
			<div id="action-selected" class="container-fluid items-list"></div>
		</div>
	</div>
	
	<div id="tmp-contents" class="hidden"></div>
<% end %>