<div class="row-fluid">
	<div class="span12">
		<div class="activities rounded-10">
			<ul class="actions">
				<li id="home" class="centered-text">
					<a href="" original-title="<%= t('user_profiles.actions.home') %>">
						<%= image_tag('/assets/bike_home_icon.png', :size => '45x45') %>
						<span class="title">Inicio</span>
					</a>
				</li>

				<li id="places-section" class="centered-text">
					<a href="<%= hash_link_for(user_profile_path(@user.username), '/places') %>" original-title="<%= t('user_profiles.actions.places') %>">
						<%= image_tag('/assets/places_icon.png', :size => '45x45') %>
						<span class="title">Lugares</span>
					</a>
				</li>
				<li id="incidents-section" class="centered-text">
					<a href="<%= hash_link_for(user_profile_path(@user.username), '/incidents') %>" 
						 original-title="<%= t('user_profiles.actions.help') %>">
						<%= image_tag('/assets/help_icon.png', :size => '45x45') %>
						<span class="title">Ayuda</span>
					</a>
				</li>
				<li id="routes-section" class="centered-text">
					<a href="<%= hash_link_for(user_profile_path(@user.username), '/routes') %>" original-title="<%= t('user_profiles.actions.routes') %>">
						<%= image_tag('/assets/routes_icon.png', :size => '45x45') %>
						<span class="title">Rutas</span>
					</a>
				</li>
				<li id="bicibuses-section" class="centered-text">
					<a href="<%= hash_link_for(user_profile_path(@user.username), '/bicibuses') %>" original-title="<%= t('user_profiles.actions.bicibus') %>">
						<%= image_tag('/assets/bicibus_icon.png', :size => '45x45') %>
						<span class="title">Bicibuses</span>
					</a>
				</li>
				<li id="tips-section" class="centered-text">
					<a href="<%= hash_link_for(user_profile_path(@user.username), '/tips') %>" original-title="<%= t('user_profiles.actions.tips') %>">
						<%= image_tag('/assets/highlights_icon.png', :size => '45x45') %>
						<span class="title">Tips</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="contents-area" class="content-fluid" data-section-enabled="" data-username="<%= @user.username %>">
	<div class="home">
		<ul class="subsection rounded-5">
			<li class="active">
			<i class="icon-chevron-down"></i>
			<%= user_signed_in? && current_user_equals(@user) ? t('user_profiles.views.all.same_user.title') : t('user_profiles.views.all.different_user.title', :user => @user.username) %>
			</li>
		</ul>
		<br/>
		<% if @items.empty? %>
			<div class="well well-small centered-text"><%= t('user_profiles.views.all.list.empty') %></div>
		<% else %>
			<%= render :partial => 'profiles/home/all', :locals => { :items => @items } %>
		<% end %>
	</div>
</div>

<div id="not-ready-yet" class="hidden">
	<div class="centered-text not-ready-yet">
		<p class="title"><%= t('features.not_ready.title') %></p>
		<%= image_tag('not_ready_yet.png') %>
		<p class="subtitle"><%= t('features.not_ready.subtitle') %></p>
	</div>
</div>
