<div id="<%= incident.identifier %>" class="<%= 'first' if(incident_counter == 0) %> centered rounded-5 incident item-on-list <%=incident.symbol_kind%>" data-kind="<%= incident.symbol_kind %>" data-lat="<%= incident.lat %>" data-lon="<%= incident.lon %>">
	<div class="row-fluid">
		<div class="row-fluid">
			<div class="span1"><div class="signal"></div></div>
			<p class="title span3"><%= Bike.humanized_category_for(:incidents, incident.kind) %></p>
			<div class="span8">
				<div class="pull-right">
					<% if incident.bike.nil? %>
						<% if incident.theft? %>
							<%= t('incidents.views.index.bicycle.not_given', :event => t('incidents.connectives.of')) %>
						<% else %>
							<%= t('incidents.views.index.bicycle.not_given', :event => t('incidents.connectives.by')) %>
						<% end %>
					<% else %>
						<% if incident.theft? %>
							<%= t('incidents.views.index.bicycle.given', :event => t('incidents.connectives.of'), :brand => link_to(incident.bike.brand, bike_path(incident.bike))).html_safe %>
						<% else %>
							<%= t('incidents.views.index.bicycle.given', :event => t('incidents.connectives.by'), :brand => link_to(incident.bike.brand, bike_path(incident.bike))).html_safe %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<p class="centered-text description"><%= incident.description %></p>
		</div>
		<div class="row-fluid extras centered-text">
			<div class="span6">
				<% if incident.is_of_kind?(:theft) %>				
					<span class="emphasize"><%= t('incidents.views.show.attacher_used') %></span> 
					<%= Bike.humanized_category_for(:locks, incident.lock_used) %>
				<% elsif incident.is_of_kind?(:accident) %>
					<span class="emphasize"><%= t('incidents.views.show.vehicle_identifier') %></span>
					<%= incident.vehicle_identifier.blank? ? t('missing.fem') : incident.vehicle_identifier %>
				<% elsif incident.is_of_kind?(:breakdown) %>
					<span class="emphasize"><%= t('incidents.views.show.fixed')[incident.fixed] %></span>
				<% end %>
			</div>
			<div class="span6 complaint-issued">
				<% if !incident.is_of_kind?(:breakdown) %>
					<span class="emphasize"><%= t('incidents.views.index.list.item.complaint_issued')[incident.complaint_issued] %></span>
				<% end %>
			</div>
		</div>
		
		<div class="separator"></div>
		<!-- Render actions that appear below the separator -->
		<div class="row-fluid">
			<ul class="pull-left contextual-actions inlined-list">
				<% if current_user && current_user.owns?(incident) && show_actions %>
					<li><i class="icon icon-remove"></i> <%= link_to 'Eliminar', 'javascript:void(0);', "data-id" => incident.id, :class => "delete-incident" %></li>
					<li><i class="icon icon-edit"></i> <%= link_to 'Modificar', edit_profiles_incident_path(incident) %></li>
				<% end %>
			</ul>
			<ul class="pull-right contextual-info inlined-list">
				<li>
					<div>
						<span class="time"><%= distance_of_time_in_words(incident.date || Date.today, Time.now, true) %></span> 
						<% unless current_user_equals(@user) %>
							<span class="reporter"><%= reporter_of(incident, "/#/incidents/#{incident.id}") %></span>
						<% end %>
					</div>
				</li>
			</ul>
		</div>		
	</div>
</div>