<%= render 'maps/shared/city_not_set_alert' %>
<%= render 'maps/shared/header' %>
<div>	
	<%= navbar_map_for %>
	<div id="stats-container">
		<%= render :partial => 'maps/places/stats', :locals => {:hashed_count => @places_count} %>
	</div>
</div>

<div id="map" class="show-only edit map-dimensions map-big shadow-light rounded-5"></div>
<br>

<div class="content-fluid">
	<div id="listing-contents" class="listing-view" data-suburl="places">
		<div class="first"></div>
		<%= render :partial => 'profiles/workshops/workshop', :collection => @workshops %>
		<%= render :partial => 'profiles/parkings/parking', :collection => @parkings %>
	</div>
</div>