<div class="control-group">
	<%= f.label :date, t('incidents.views.new.form.date'), :class => "control-label" %>
	<div class="controls reduced">
		<%= f.date_select :date %>
	</div>
</div>

<div class="control-group">
	<div id="incident_start_hour_before_than" class="alert alert-error error">
		<%= t('incidents.views.new.form.validations.range') %>
	</div>
	<label class="control-label"><%= t('incidents.views.new.form.range') %></label>
	<div class="controls reduced-more">
		<%= f.time_select :start_hour %>&nbsp;<%= t('connectives.and') %>&nbsp;<%= f.time_select :final_hour %>
	</div>
</div>