<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<span class="pull-left">
			<%= image_tag('wikicleta_icon.png', :size => '35x35', :class => 'mini-logo') %>
			</span>
			<%= link_to t('app.name'), root_path, :class => "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
					<% unless user_signed_in? %>
						<li><%= link_to 'Principal', root_path  %></li>
					<% end %>
					<li class="<%= is_section_active?('trips') %>"><%= link_to 'Pasea', trips_path  %></li>
					<li class="<%= is_section_active?('maps') %>"><%= link_to 'Mapa', maps_path %></li>
					<li class="<%= 'active' if controller.controller_name.eql?('bikes') %>"><%= link_to 'Bicis y Más', bikes_path %></li>
					<%= render 'layouts/shared/navbar_logged_in_user' %>
				</ul>
      </div>
    </div>
  </div>
</div>