<div id="navigation-bar">
	<div class="inner-bar">
		<div class="pull-left">
			<%= image_tag('wikicleta_icon.png', :class => 'mini-logo') %>
		</div>
   	<ul class="nav-items pull-right">
			<li class="<%= is_section_active?('trips') || is_section_active?('cycling_groups') %>">
				<%= link_to 'Descubre', discover_trips_path  %>
			</li>

			<% if user_signed_in? %>
				<li class="user-logged-in dropdown">
					<%= link_to "<i class='icon-chevron-down'></i> #{current_user.username}".html_safe, '#', :class => "dropdown-toggle", "data-toggle"=>"dropdown" %>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><%= link_to 'Perfil', user_settings_path(current_user.username) %></li>
						<li class="divider"></li>
						<li><%= link_to 'Cerrar Sesión', destroy_user_session_path, :method => :delete %></li>
			    </ul>
				</li>
			<% else %>
				<li>
					<a href="<%= new_user_session_path %>" class="login-link" type="button">
						 <i class='icon-user'></i> Iniciar Sesión
					</a>
				</li>
			<% end %>
		</ul>
	</div>
</div>