<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="row-fluid">

			<div class="span2">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<span>
					<%= image_tag('wikicleta_icon.png', :class => 'mini-logo') %>
				</span>
			</div>
			<div class="span10">
	      <div class="nav-collapse collapse">
	        <ul class="nav pull-right">
						<% unless user_signed_in? %>
							<li><%= link_to 'Principal', root_path  %></li>
						<% end %>
						<li class="<%= is_section_active?('trips') || is_section_active?('cycling_groups') %>">
							<%= link_to 'Descubre', discover_trips_path  %>
						</li>
						<%= render 'shared/navbar_logged_in_user' %>
					</ul>
	      </div>
			</div>
			
    </div>
  </div>
</div>