<div class="top-bar">
	<ul class="to-right">
		<li class="<%= is_section_active?('trips') || is_section_active?('cycling_groups') %>">
			<%= link_to 'Buscar', discover_index_path  %>
		</li>
		<% if user_signed_in? %>
			<li class="<%= is_section_active?('profiles') %>"><%= link_to "<i class='icon-user'></i> #{current_user.username}".html_safe, 
										user_profile_path(current_user.username) %></li>
			<li class="with-left-divider"><%= link_to t('app.navbar.close_session'), destroy_user_session_path, :method => :delete %></li>
		<% else %>
			<li class="with-left-divider"><%= link_to t('app.navbar.login'), new_user_session_path  %></li>
		<% end %>
	</ul>
</div>