
<div class="login rounded-5">
	<div class="centered-text"><%= image_tag('wikicleta-logo.png', :size => '350x350') %></div><br/>	
	<div class="form">
		<%= render 'shared/notifications' %>
		<h2><%=t "user_accounts.sessions.new.title" %></h2>
		
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
			<div class="fields">
				<%= f.text_field :login, :placeholder => t('activerecord.attributes.user.login'), :size => 32 %>
  			<%= f.password_field :password, :placeholder => t('activerecord.attributes.user.password'), :size => 32 %>
				<div class="submit-area">
		  		<%= f.submit t('user_accounts.sessions.new.title'), :class => "submit-button" %>
				</div>
			</div>
			<div class="separator"></div>
			<div>
				<ul class="nav nav-pills">
					<li class="active"><%= link_to t('actions.back_start').html_safe, root_path, :class => 'back' %></li>
					<li ><%= link_to t("user_accounts.forgot_password"), account_recover_password_path %></li>
					<li ><%= link_to t("user_accounts.sessions.new.sign_up"), sign_up_path %></li>
				</ul>
			</div>
		<% end %>
	</div>
</div>




