<div class="row-fluid top-spaced-70">
	<div class="span1"></div>
	<div class="span2">
		<div class="well">Rutas</div>
		<ul class="nav nav-pills">
    	<li class="active"><%= link_to 'Mapa', '#', :class => 'bar-activator map' %></li>
    	<li><%= link_to 'Capas', '#', :class => 'bar-activator layers' %></li>
    </ul>
		<div class="layers section-view">
			<div class="menu shadow-light">
				<ul>
					<li><span class="routes"></span><%= link_to 'Rutas', '#' %></li>
					<li><span class="bikepooling"></span><%= link_to 'Bicibuses', '#' %></li>
					<li><span class="highlights"></span><%= link_to 'Puntos de Riesgo', '#' %></li>
					<li><span class="parkings"></span><%= link_to 'Estacionamientos', '#' %></li>
					<li><span class="bike-sharing"></span><%= link_to 'Bicis Públicas', '#' %></li>
					<li><span class="bike-friendly"></span><%= link_to 'Lugares Bike-friendly', '#' %></li>
				</ul>
			</div>
		</div>
		<div class="map section-view"><div id="map" class="show-only edit map-dimensions rounded-5 shadow-light"></div></div>
	</div>
	<div class="span9">
		
	</div>
</div>


