<% items.each do |item| %>
	<div class="item rounded-5">
		<% if item.is_a? Tip %>
			<div class="row-fluid">
				<div class="span1">
					<p class="centered-text centered">
						<%= link_to image_tag("#{item.category_symbol}_icon.png"), user_profile_path.concat("/#/tips/#{item.identifier}") %>
					</p>
				</div>
				<div class="span2 main">
					<div class="centered">
						<p class="category"><%= t("app.models.#{item.class.to_s.downcase}") %></p> 
						<p class="<%= item.category_symbol %>"><%= item.humanized_category %></p>
					</div>
				</div>
				<div class="span5 extra">
					<p><%= item.content %></p>
				</div>
				<div class="span4">
					<div class="pull-right">
						<ul class="contextual-info inlined-list">
							<li>
								<div>
									<span class="time"><%= distance_of_time_in_words(item.updated_at || Date.today, Time.now, true) %></span> 
									<% if current_user_equals(item.user) %>
										<span class="reporter"><%= t('incidents.views.index.list.item.reporter.you') %></span>
									<% else %>
										<span class="reporter"><%= reporter_of(item) %></span>
									<% end %>
								</div>
							</li>
						</ul>
						
						<%= render :partial => 'profiles/home/city', :locals =>  {:item => item } %>
						<br>
						<p class="pull-right see-on-map">
							<ul>
								<li><%= link_to "<i class='icon-map-marker'></i> Ver en mapa".html_safe, user_profile_path(item.user.username).concat("/#/tips/#{item.identifier}") %></li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		<% elsif item.is_a? Incident %>
			<div class="row-fluid">
				<div class="span1">
					<p class="centered-text centered">
						<%= link_to image_tag("#{item.category_symbol}_icon.png"), user_profile_path.concat("/#/tips/#{item.identifier}") %>
					</p>
				</div>
				<div class="span2 main">
					<div class="centered">
						<p class="category"><%= t("app.models.#{item.class.to_s.downcase}") %></p> 
						<p class="<%= item.category_symbol %>"><%= item.humanized_category %></p>
					</div>
				</div>
				
				<div class="span5 extra">
					<p><%= item.description %></p>
				</div>
				<div class="span1 picture centered-text">
					<% if !item.bike.nil? && !item.bike.front_picture.nil? && !item.bike.front_picture.image.nil? %>
						<p><%= link_to image_tag(item.bike.front_picture.image.mini_thumb.url, :size => '45x45'), bike_path(item.bike) %></p>
					<% else %>
						<%= image_tag('/assets/no_bike_mini_thumb.png') %>
					<% end %>
				</div>
				<div class="span3">
					<div class="pull-right">
						<ul class="contextual-info inlined-list">
							<li>
								<div>
									<span class="time"><%= distance_of_time_in_words(item.updated_at || Date.today, Time.now, true) %></span> 
									<% if current_user_equals(item.user) %>
										<span class="reporter"><%= t('incidents.views.index.list.item.reporter.you') %></span>
									<% else %>
										<span class="reporter"><%= reporter_of(item) %></span>
									<% end %>
								</div>
							</li>
						</ul>
						
						<%= render :partial => 'profiles/home/city', :locals =>  {:item => item } %>
						<br>
						<p class="pull-right see-on-map">
							<ul>
							<% if item.theft_or_breakdown? %>
								<% if item.solved? %>
		      				<li><b class="green"><i class="icon icon-ok-sign"></i> <%= t('incidents.views.index.list.item.status.solved') %></b></li>
		      			<% else %>
		      				<li><b class="red"><%= t('incidents.views.index.list.item.status.unsolved') %></b></li>
		      			<% end %>
							<% end %>
							<li><%= link_to "<i class='icon-map-marker'></i> Ver en mapa".html_safe, user_profile_path(item.user.username).concat("/#/incidents/#{item.identifier}") %></li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		<% elsif item.is_a? Workshop %>
			<div class="row-fluid">
				<div class="span1">
					<p class="centered-text centered">
						<%= link_to image_tag("workshop_icon.png"), user_profile_path.concat("/#/places/workshops/#{item.identifier}") %>
					</p>
				</div>
				<div class="span2 main">
					<div class="centered">
						<p class="category"><%= t("app.models.workshop") %></p> 
						<p class="workshop"><%= item.store? ? t('places.workshops.views.show.store') : t('places.workshops.views.show.workshop') %></p>
					</div>
				</div>
				
				<div class="span5 extra">
					<p><%= item.details %></p>
				</div>
				<div class="span4">
					<div class="pull-right">
						<ul class="contextual-info inlined-list">
							<li>
								<div>
									<span class="time"><%= distance_of_time_in_words(item.updated_at || Date.today, Time.now, true) %></span> 
									<% if current_user_equals(item.user) %>
										<span class="reporter"><%= t('incidents.views.index.list.item.reporter.you') %></span>
									<% else %>
										<span class="reporter"><%= reporter_of(item) %></span>
									<% end %>
								</div>
							</li>
						</ul>
						
						<%= render :partial => 'profiles/home/city', :locals =>  {:item => item } %>
						<br>
						<p class="pull-right see-on-map">
							<ul>
								<li><%= link_to "<i class='icon-map-marker'></i> Ver en mapa".html_safe, user_profile_path(item.user.username).concat("/#/places/workshops/#{item.identifier}") %></li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		<% elsif item.is_a? Bike %>
			<div class="row-fluid">
				<div class="span1 picture centered-text">
					<% if !item.nil? && !item.front_picture.nil? && !item.front_picture.image.nil? %>
						<p><%= link_to image_tag(item.front_picture.image.mini_thumb.url, :size => '45x45'), bike_path(item) %></p>
					<% else %>
						<%= image_tag('/assets/no_bike_mini_thumb.png') %>
					<% end %>
				</div>
				<div class="span2 main">
					<div class="centered">
						<p class="category"><%= t("app.models.bike") %></p> 
						<p class="workshop"><%= item.name %></p>
					</div>
				</div>
				
				<div class="span5 extra">
					<p><%= item.description %></p>
				</div>
				<div class="span4">
					<div class="pull-right">
						<ul class="contextual-info inlined-list">
							<li>
								<div>
									<span class="time"><%= distance_of_time_in_words(item.updated_at || Date.today, Time.now, true) %></span> 
									<% if current_user_equals(item.user) %>
										<span class="reporter"><%= t('incidents.views.index.list.item.reporter.you') %></span>
									<% else %>
										<span class="reporter"><%= reporter_of(item) %></span>
									<% end %>
								</div>
							</li>
						</ul>
						
						<%= render :partial => 'profiles/home/city', :locals =>  {:item => item } %>
						<br>
						<p class="pull-right see-on-map">
							<ul>
								<li><%= link_to "<i class='icon-eye-open'></i> Ver bici".html_safe, bike_path(item) %></li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		<% elsif item.is_a? Parking %>
			<div class="row-fluid">
				<div class="span1">
					<p class="centered-text centered">
						<%= link_to image_tag("parking_icon.png"), user_profile_path.concat("/#/places/parkings/#{item.identifier}") %>
					</p>
				</div>
				<div class="span2 main">
					<div class="centered">
						<p class="category"><%= t("app.models.parking") %></p> 
						<p class="parking"><%= item.humanized_kind %></p>
					</div>
				</div>
				
				<div class="span5 extra">
					<p><%= item.details.blank? ? t('places.parkings.views.show.details_empty') : item.details %></p>
				</div>
				<div class="span4">
					<div class="pull-right">
						<ul class="contextual-info inlined-list">
							<li>
								<div>
									<span class="time"><%= distance_of_time_in_words(item.updated_at || Date.today, Time.now, true) %></span> 
									<% if current_user_equals(item.user) %>
										<span class="reporter"><%= t('incidents.views.index.list.item.reporter.you') %></span>
									<% else %>
										<span class="reporter"><%= reporter_of(item) %></span>
									<% end %>
								</div>
							</li>
						</ul>
						
						<%= render :partial => 'profiles/home/city', :locals =>  {:item => item } %>
						<br>
						<p class="pull-right see-on-map">
							<ul>
								<li><%= link_to "<i class='icon-map-marker'></i> Ver en mapa".html_safe, user_profile_path(item.user.username).concat("/#/places/parkings/#{item.identifier}") %></li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>