<h3 class="centered-text">Mapa de tu ciudad</h3>
<div class="separator"></div>
<div>	
	<%= navbar_map_for %>
	<div class="pull-left">
		<ul class="stats inlined-list">
			<li>
				<%= partial_numbers_for(:incidents, @incidents_count, :theft) %>
			</li>
			<li>
				<%= partial_numbers_for(:incidents, @incidents_count, :accident) %>
			</li>
			<li>
				<%= partial_numbers_for(:incidents, @incidents_count, :assault) %>
			</li>
			<li>
				<%= partial_numbers_for(:incidents, @incidents_count, :breakdown) %>
			</li>
			<li class="action-link">
				<a class="box theft active" href="/maps/incidents#/">
					<p class="title">Mostrar todos</p>
				</a>
			</li>
		</ul>
	</div>
</div>

<div id="map" class="show-only edit map-dimensions map-big shadow-light rounded-5"></div>
<br>
<div class="content-fluid">
	<div id="listing-contents" class="listing-view" data-suburl="incidents">
		<%= render :partial => 'profiles/incidents/incident', :collection => @incidents, :locals => {:show_actions => false} %>
	</div>
</div>