<%= content_for :section_actions do %>
	<div class="well sections">
		<a class="main-title"><i class="icon icon-chevron-down"></i><i class="icon icon-chevron-up"></i> Incidentes</a>
		
		<div class="contents">
			<ul class="stats inlined-list">
				<li>
					<%= partial_numbers_for(@incidents_count, :theft) %>
				</li>
				<li>
					<%= partial_numbers_for(@incidents_count, :accident) %>
				</li>
				<li>
					<%= partial_numbers_for(@incidents_count, :assault) %>
				</li>
				<li>
					<%= partial_numbers_for(@incidents_count, :breakdown) %>
				</li>
			</ul>
			<div class="separator"></div>
			<ul class="suggested">
				<li><%= link_to 'Hoy', '#' %></li>
				<% if user_signed_in? %>
					<li><%= link_to 'Tus incidentes', '#' %></li>
				<% end %>
				<li><%= link_to 'Bicis robadas sin aparecer', '#' %></li>
				<li><%= link_to 'Bicis blancas', '#' %></li>
			</ul>
		</div>
	</div>
<% end %>

<%= render 'maps/incidents/actions' %>

<div class="listing-view">
	<div class="empty hidden"><i class="icon-ok-sign"></i> <%= t('incidents.views.index.empty') %></div>
	<%= render :partial => 'maps/incidents/incident', :collection => @incidents %>
	<%= render :partial => 'shared/modal_dialog', :locals => {:record => "incidente"} %>
</div>

