<div id="poi-<%= index %>" class="poi" data-marker="<%= marker_for_poi(poi) %>" data-lng="<%= poi.coordinates.lon %>" data-lat="<%= poi.coordinates.lat %>">
	<div class="core">
		<p><span class="subtitle"><%= link_to subtitle_for_poi(poi), url_for_poi(poi) %></span> <span class="title"><%= title_for_poi(poi) %></span></p>
		<p class="details"><%= details_for_poi(poi) %></p>
		<p class="owner"><%= distance_of_time_in_words poi.updated_at, Time.now %> por <%= link_to poi.owner[:username], nil %></p>
	</div>
	<div class="contributor">
		<% if !poi.owner[:pic].blank? %>
			<%= link_to image_tag(poi.owner[:pic], :size => '70x70'), nil, :class => 'pic' %>
		<% else %>
			<%= link_to image_tag('user_no_pic.png', :size => '70x70'), nil, :class => 'pic' %>
		<% end %>
	</div>
</div>