<div id="dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"><%= defined?(title) ? title : t('modals.default.title') %></h3>
	</div>
	<div class="modal-body">
		<p class="centered-text"><%= defined?(body) ? body : t('modals.default.body', :record => record) %></p>
	</div>
	<div class="modal-footer">
		<button class="btn dialog-no" data-dismiss="modal" aria-hidden="true"><%= defined?(decline) ? decline : t('boolean_answers.decline') %></button>
		<% if defined?(accept) %>
			<%= accept %>
		<% else %>
			<%= link_to t('boolean_answers.accept'), '#', :class => "btn btn-danger dialog-yes", :method => :delete %>
		<% end %>
	</div>
</div>