<div class="row-fluid section-switcher">
	<ul class="nav nav-pills span7">
		<li class="active"><%= link_to 'Mapa', '#', :class => 'bar-activator map' %></li>
		<li><%= link_to 'Capas', '#', :class => 'bar-activator layers' %></li>
	</ul>
	<div class="span5"><a class="btn btn-inverse pull-right locate-me"><i class="icon icon-map-marker"></i> Ubicarme</a></div>
</div>
<div class="layers section-view">
	<div class="menu shadow-light">
		<ul>
			<li><span class="routes"></span><%= link_to 'Rutas y Bicibuses', '#' %></li>
			<!-- Ciclovias | Bicibuses -->
			<li><span class="bike-reports"></span><%= link_to 'Incidentes', maps_layers_incidents_path %></li>
			<li><span class="cyclepaths"></span><%= link_to 'Ciclovias y Bicis Públicas', '#' %></li>
			<li><span class="highlights"></span><%= link_to 'Las calles', '#' %></li>
			<!-- Puntos de riesgo: Baches, Coladeras, Pavimento, Calles | Que ver -->
			<li><span class="places"></span><%= link_to 'Lugares', '#' %></li>
			<!-- Talleres | Bike Friendly: Cafes, Restaurantes, Cines, Museos | Bici Estacionamientos : Oficiales, Otros -->
		</ul>
	</div>
</div>
<div class="map section-view"><div id="map" class="show-only edit map-dimensions rounded-5 shadow-light"></div></div>