<div id="allies" class="content-fluid">
	<div class="row-fluid section-title">
		<p><%= t('app.landing.sections.alliances.allies') %></p>
	</div>
</div>

<div class="content-fluid">
	<div class="row-fluid box-decorated box-container-stretch">
		<div class="row-fluid">

			<div class="span5">
			</div>
			<div class="span2">
				<%= link_to image_tag('bicitekas.png'), "http://www.bicitekas.org", :target => "_blank" %>
				
			</div>
			<div class="span5">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span2">
				<%= link_to image_tag('ITDP.png'), "http://mexico.itdp.org", :target => "_blank" %>
			</div>
			<div class="span2">
				<%= link_to image_tag('divisiondelsur.png'), "http://www.divisiondelsur.com/", :target => "_blank" %>
			</div>
			<div class="span2">
				<%= link_to image_tag('haz_ciudad.png'), "http://hazciudad.blogspot.mx", :target => "_blank" %>
			</div>
			<div class="span2">
				<%= link_to image_tag('taller13.png'), "http://www.taller13.com", :target => "_blank" %>
			</div>
			<div class="span2">
				<%= link_to image_tag('bicicooperativa.png'), "http://bicienvia.com.mx", :target => "_blank" %>
			</div>
			<div class="span2">
				<%= link_to image_tag('insolente.png'), "http://insolente.mx", :target => "_blank" %>
			</div>

		</div>

	</div>
</div>