<div id="media" class="content-fluid">
	<div class="row-fluid section-title">
		<p><%= t('app.landing.sections.media') %></p>
	</div>
</div>

<div class="content-fluid">
	<div class="row-fluid box-container-stretch">
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span2">
				<%= link_to image_tag('soyentreprenur_icon.png'), "http://www.soyentrepreneur.com/23954-10-negocios-en-el-boom-de-las-bicis.html", :target => "_blank" %>
			</div>
			<div class="span2">
				<%= link_to image_tag('taller13.png'), "http://www.taller13.com/blog/wikicleta", :target => "_blank" %>
			</div>
			<div class="span2">
				<%= link_to image_tag('grupo_imagen_icon.png'), "http://www.dineroenimagen.com/2013-04-19/19037", :target => "_blank" %>
			</div>
			<div class="span2">
				<%= link_to image_tag('tvazteca_icon.png'), "http://www.aztecanoticias.com.mx/capitulos/finanzas/134782/red-social-ciclista-facilita-viajar-por-el-df", :target => "_blank" %>
			</div>
			<div class="span2">
				<%= link_to image_tag('nmx_logo.png'), "http://periodiconmx.com/ttaqd/enmarcando-el-camino-alejandro-cruz-paz/", :target => "_blank" %>
			</div>
			<div class="span1"></div>
		</div>

	</div>
</div>