<div class="content-fluid">
	<div id="description" class="row-fluid box-container main-container">
		<p><%= t('app.landing.sections.what_is.text') %></p>
	</div>
</div>

<%= render 'details' %>
<%= render 'allies' %>
<%= render 'register' %>
<%= render 'media' %>


