<div class="top-bar">
	<ul>
		<li class="web-only"><a href="<%= discover_trips_path %>"><i class="icon icon-search"></i>&nbsp;&nbsp;<%= t('app.landing.navbar.explore') %></a></li>
		<li class="web-only"><a href="<%= rodada_nueva_path %>"><i class="icon icon-arrow-up"></i>&nbsp;&nbsp;<%= t('app.landing.navbar.share_group') %></a></li>
		<% if I18n.locale.eql?(:es_MX) %>
			<li><a href="<%= welcome_path %>"><i class="icon icon-flag"></i>&nbsp;&nbsp;<%= t('app.landing.navbar.language.english') %></a></li>	
		<% elsif I18n.locale.eql?(:en) %>
			<li><a href="<%= bienvenido_path %>"><i class="icon icon-flag"></i>&nbsp;&nbsp;<%= t('app.landing.navbar.language.spanish') %></a></li>	
		<% end %>
	</ul>
</div> 

<% if I18n.locale.eql?(:es_MX) %>
	<%= link_to image_tag('fondeo_es_MX.png'), "http://fondeadora.mx/projects/wikicleta", :target => "_blank", :class => "founding" %>	
<% elsif I18n.locale.eql?(:en) %>
	<%= link_to image_tag('fondeo_en.png'), "http://fondeadora.mx/projects/wikicleta", :target => "_blank", :class => "founding" %>
<% end %>
	
<div class="logo-container all-centered">
	<%= image_tag('wikicleta-logo.png') %>
	<p class="title"><%= t('app.slogan') %></p>
	
	<div class="play-video">
		<%= link_to image_tag('play_icon.png'), 'http://vimeo.com/54044179', :class => "fancybox" %>
	</div>
</div>

<div class="bottom-bar">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span3 all-centered android">
				<%= link_to image_tag('android-available.png', :size => '230x230'), 'https://play.google.com/store/apps/details?id=org.wikicleta&hl=en', :target => "_blank" %>
			</div>
			<div class="span3 all-centered ios">
				<a href="javascript:void(0);" class="title iphone" data-toggle="modal" data-target="#myModal"><%= t('app.landing.bottombar.iphone') %> <%= image_tag('iphone-icon.png') %></a>
			</div>
			<div class="span3"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog email-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="title all-centered"><%= t('app.landing.dialog.title').html_safe %></p>
      </div>
      <div class="modal-body">
        <p class="content all-centered"><%= t('app.landing.dialog.call') %></p>
				
				<div class="all-centered contact-form">
					<%= form_for Contact.new, :remote => true do |f| %>
						<div class="form-group">
							<%= f.email_field :email, :placeholder => t('app.landing.dialog.email'), :class=>"form-control" %>
						</div>
						<%= f.submit t('app.landing.dialog.send'), :class => "btn btn-primary" %>
					<% end %>
				</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

