

<div class="sections">
	<div class="section">
		<p class="title"><%= t('app.landing.sections.rides.title') %></p>
		<div class="content-right">
			<div id="c-groups">
				<% @cycling_groups.each_with_index do |cg, idx| %>
					<%= render :partial => 'welcome/common/cycling_group', :locals => {:cg => cg, :index => idx } %>
				<% end %>
			</div>
			<ul>
				<li><a href="<%= discover_index_path %>" class="action-box"><i class="icon-search"></i> <span class="big">Buscar</span></a></li>
				<li><a href="" class="action-box"><span class="big">Sube</span> <span class="small">tu grupo</span> <i class="icon-upload"></i></a></li>
			</ul>
		</div>
		<div class="draw-one"><%= image_tag('explore-icon.png') %></div>
		
	</div>
	
	<div class="section">
		<p class="title"><%= t('app.landing.sections.routes.title') %></p>
		<div class="draw-two"><%= image_tag('map-icon.png') %></div>
		<div class="content">
			<p>Trázalas en la web y revísalas en tu teléfono. Después, compártelas!</p>
			<a href="" class="action-box iconified">
				<ul>
					<li><%= image_tag('icon-route-tracer.png') %></li>
					<li><span class="big">Traza</span><br/><span class="small">tu ruta</span></li>
				</ul>
			</a>
		</div>
	</div>
	
	<div class="section">
		<p class="title"><%= t('app.landing.sections.real_time.title') %></p>
		<div class="draw-three"><%= image_tag('gowith-icon.png') %></div>
		<div class="content">
			<p>Ubica por donde van y únete a su ruta, para rodar juntos, más seguros!</p>
			<p class="status"><span class="big">50</span><span class="small">rodando ahora (<b><%= link_to 'Ver', '' %></b>)</span></p>
		</div>
	</div>
</div>





