<div class="section" data-anchor="main">
	<div class="container">
		<div id="owl-demo" class="owl-carousel owl-theme column">
			<div class="item">
				<%= image_tag('wikicleta-android.png') %>
			</div>
			<div class="item">
				<%= image_tag('wikicleta-ios.png') %>
			</div>
			<div class="item">
				<%= image_tag('android_pic_main.png') %>
			</div>
			<div class="item">
				<%= image_tag('trips_phone_pic.png') %>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<%= image_tag('wikicleta-logo.png') %>
				<p class="slogan"><%= t('app.views.landing.slogan') %></p>
				<div class="action-box rounded-5">
					<ul>
						<li><%= link_to "<i class='icon icon-home'></i> #{t('app.views.landing.enter')}".html_safe, new_user_session_path, :id => 'enter-wikicleta' %></li>
						<li class="emphasize"><%= link_to "<i class='icon icon-download-alt'></i> #{t('app.views.landing.download.title')}".html_safe, '#download', :id => 'download-wikicleta' %></li>
						<li><%= link_to "<i class='icon icon-flag'></i> #{t('app.views.landing.explore')}".html_safe, discover_index_path, :id => 'explore-wikicleta' %></li>
					</ul>
				</div>
				
				<div class="action-box rounded-5 more-discrete">
					<ul>
						<li><%= link_to image_tag('twitter-icon.png', :size => '30x30'), 'http://www.twitter.com/wikicleta', :target => "_blank", :id => 'twitter-wikicleta' %></li>
						<li><%= link_to image_tag('facebook-icon.png', :size => '30x30'), 'http://www.facebook.com/wikicleta', :target => "_blank", :id => 'facebook-wikicleta' %></li>
						<li><%= link_to "<i class='icon icon-play'></i> #{t('app.views.landing.video.link_to')}".html_safe, '#video', :id => 'video-wikicleta' %></li>
						<li><%= link_to t('app.views.landing.friends'), '#friends', :id => 'allies-wikicleta' %></li>
					</ul>
				</div>
			</div>
			<div class="mixpanel-partner">
				<span class="text-orange">Hecho en México con <i class="icon-heart"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>			
			</div>
		</div>
	</div>
	<div class="right-positioned">
		<%= link_to image_tag('next_orange.png', :size => '100x100'), '#video' %>
	</div>
</div>
<div class="section" data-anchor="video">
	<div class="right-positioned">
		<%= link_to image_tag('next_blue.png', :size => '100x100'), '#main' %>
		<%= link_to image_tag('next_orange.png', :size => '100x100'), '#discover' %>
	</div>
	<%= image_tag('video_icon.png', :size => '300x300', :class => 'top-left-positioned') %>
	
	<p class="title text-center"><%= t('app.views.landing.video.title') %></p>
	<p class="subtitle text-center"><%= t('app.views.landing.video.subtitle') %></p>
	<div class="centered-text">
		<iframe class="centered video-frame shadow-lighter" src="//player.vimeo.com/video/54044179?color=ff9933" width="1000" height="562" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>
<div class="section" data-anchor="discover">
	<div class="right-positioned">
		<%= link_to image_tag('next_blue.png', :size => '100x100'), '#video' %>
		<%= link_to image_tag('next_orange.png', :size => '100x100'), '#routes' %>
	</div>
	<%= image_tag('phone_big_icon.png', :class => 'bottom-positioned') %>
	<p class="title text-center"><b>Explora</b> el mapa más completo de tu ciudad en bici</p>
	<p class="subtitle text-center">Construido por todos nosotros y que va contigo en tu teléfono</p>
	<div class="poi-list">
		<% @pois.each_with_index do |poi, idx| %>
			<%= render :partial => 'welcome/common/poi', :locals => {:poi => poi, :index => idx} %>
		<% end %>
	</div>
	<div id="poi-details"></div>
	<div id="map" class="shadow-light hidden rounded-5"></div>
	<div class="action-box-2 rounded-5">
		<ul>
			<li><p><%= t('app.views.landing.discover.title') %></p></li>
			<li><%= link_to t('app.views.landing.discover.routes'), discover_index_path.concat('/#/routes') %></li>
			<li><%= link_to t('app.views.landing.discover.cycling_groups'), discover_index_path.concat('/#/cycling_groups') %></li>
			<li><%= link_to t('app.views.landing.discover.tips'), discover_index_path.concat('/#/tips') %></li>
			<li><%= link_to t('app.views.landing.discover.workshops'), discover_index_path.concat('/#/workshops') %></li>
			<li><%= link_to t('app.views.landing.discover.parkings'), discover_index_path.concat('/#/parkings') %></li>
			<li><%= link_to t('app.views.landing.discover.cycle_stations'), discover_index_path.concat('/#/cycle_stations') %></li>
			<li><%= link_to t('app.views.landing.discover.cycle_paths'), discover_index_path %></li>
		</ul>
	</div>
</div>
<div class="section" data-anchor="routes">
	
	<div class="right-positioned">
		<%= link_to image_tag('next_blue.png', :size => '100x100'), '#discover' %>
		<%= link_to image_tag('next_orange.png', :size => '100x100'), '#events' %>
	</div>
	
	<div id="owl-routes" class="owl-carousel owl-theme column">
		<div class="item container">
			<br/>
			<p class="title text-center"><%= t('app.views.landing.routes.title') %></p>
			<p class="tiny"><%= t('app.views.landing.routes.trace.one') %></p>
			<%= image_tag('route_tracing.png', :class => 'screenshot') %>
		</div>
		<div class="item container">
			<br/>
			<p class="title text-center"><%= t('app.views.landing.routes.title') %></p>
			<p class="tiny"><%= t('app.views.landing.routes.trace.two') %></p>
			<%= image_tag('route_share.png', :class => 'screenshot') %>
		</div>
		<div class="item container">
			<br/>
			<p class="title text-center"><%= t('app.views.landing.routes.title') %></p>
			<p class="tiny"><%= t('app.views.landing.routes.trace.three') %></p>
			<%= image_tag('route_phone_pic.png') %>
		</div>
	</div>
</div>
<div class="section" data-anchor="events">
	<div class="right-positioned">
		<%= link_to image_tag('next_blue.png', :size => '100x100'), '#routes' %>
		<%= link_to image_tag('next_orange.png', :size => '100x100'), '#friends' %>
	</div>
	<p class="title text-center"><%= t('app.views.landing.events.title', :number => CyclingGroup.count) %></p>
	<div class="container">
		<div class="column">
			<div class="item">
				<%= image_tag('android_events_pic.png', :class => 'content', :size => '400x300') %>
			</div>
		</div>
		<div class="column">
			<div class="content content-more-margin">
				<%= image_tag('cycling-together.png') %>
				<p class="minor"><%= t('app.views.landing.events.join') %></p>
				<div class="btn-action-container">
					<span class="action shadow-lighter rounded-5"><%= link_to t('app.views.landing.events.action.join'), discover_index_path.concat('#/cycling_groups') %></span>
					<span class="action shadow-lighter rounded-5"><%= link_to t('app.views.landing.events.action.share'), new_cycling_group_path %></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section friends" data-anchor="friends">
	<div class="right-positioned">
		<%= link_to image_tag('next_blue.png', :size => '100x100'), '#events' %>
		<%= link_to image_tag('next_orange.png', :size => '100x100'), '#download' %>
	</div>
	<%= image_tag('handshake_icon.png', :class => 'bottom-positioned') %>
	
	<div class="container">
		<p class="title text-center">Socios, Aliados estratégicos y Amigos de Wikicleta</p>
		
		<div class="partners">
			<%= link_to image_tag('friends/vi.png', :size => '200x200'), 'http://www.institute.vc', :target => "_blank" %>
		</div>
		<div class="allies">
			<%= link_to image_tag('friends/ITDP.png', :size => '200x200'), 'http://mexico.itdp.org/', :target => "_blank" %>
			<%= link_to image_tag('friends/ConectaDF_logo.png', :size => '200x200'), 'http://conectadf.mx/', :target => "_blank" %>
			<%= link_to image_tag('friends/transformadora-ciel.png', :size => '200x200'), 'https://transformadora.ciel.com.mx', :target => "_blank" %>
		</div>
		<div class="fri">
			<%= link_to image_tag('friends/bicitekas.png', :size => '100x100'), 'http://bicitekas.org/', :target => "_blank" %>
			<%= link_to image_tag('friends/taller13.png', :size => '100x100'), 'http://www.taller13.com/', :target => "_blank" %>
			<%= link_to image_tag('friends/bicicooperativa.png', :size => '150x150'), 'http://www.bicienvia.com.mx/somos.html', :target => "_blank" %>
			<%= link_to image_tag('friends/divisiondelsur.png', :size => '100x100'), 'http://www.divisiondelsur.com/', :target => "_blank" %>
			<%= link_to image_tag('friends/insolente.png', :size => '100x100'), 'http://insolente.mx', :target => "_blank" %>
			<%= link_to image_tag('friends/tuola.png', :size => '100x100'), 'http://tuola.mx/', :target => "_blank" %>
			<%= link_to image_tag('friends/carrot.png', :size => '150x150'), 'http://www.carrot.mx/', :target => "_blank" %>
			<%= link_to image_tag('friends/aventones.png', :size => '150x150'), 'http://www.aventones.com/', :target => "_blank" %>
		</div>
	</div>
</div>
<div class="section" data-anchor="download">
	<div class="right-positioned">
		<%= link_to image_tag('next_blue.png', :size => '100x100'), '#friends' %>
	</div>
	<%= image_tag('download_icon.png', :class => 'top-left-positioned') %>
	
	<div class="container">
		<p class="title text-center"><%= t('app.views.landing.download.title') %></p><br/>
		<br/><br/>
		<%= link_to image_tag('android-available.png', :size => '230x230'), 'https://play.google.com/store/apps/details?id=org.wikicleta&hl=en', :target => "_blank" %>
		<%= link_to image_tag('ios-available.png', :size => '230x230'), 'https://itunes.apple.com/us/app/wikicleta/id806904029?mt=8', :target => "_blank" %>
		<div class="invitation">
			<p class="subtitle text-center"><%= t('app.views.landing.download.stickers') %></p>
			<%= link_to image_tag('stickers.png', :size => '280x280'), 'https://drive.google.com/a/wikicleta.com/file/d/0B1lCNtgccrdncGNHbzI1S2pCTUU/edit?usp=sharing', :target => "_blank"  %>
		</div>
	</div>
</div>