<div class="row">
	<h3 class="pull-right">Acceso</h3>
</div>

<% if :should_show_social == :yes %>
<div class="well top-spaced">
	<h4>Redes Sociales</h4>
	<p>Wikicleta te puede dar acceso a través de tu cuenta de Twitter o Facebook</p>
	<div class="separator"></div>
	<div class="row top-spaced">
		<div class="span1"></div>
		<div class="span10">
			<%= render 'settings/authorization' %>
		</div>
		<div class="span1"></div>
	</div>
</div>
<% end %>

<% unless @user.externally_registered %>
	<div class="well top-spaced">
		<div class="row-fluid">
			<h4>Cambio de contraseña</h4>
			<p>Puedes cambiar tu contraseña aquí</p>
		</div>
		<div class="separator"></div>
		<br/>
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="span8">
				<%= form_for(@user, :url => settings_changed_path(@user), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
					
					<div class="control-group">
						<%= f.label :password, :class => "control-label" %>
						<div class="controls">
						  <%= f.password_field :password %>
						</div>
					</div>
					
					<div class="control-group">
						<%= f.label :password_confirmation, :class => "control-label" %>
						<div class="controls">
						  <%= f.password_field :password_confirmation %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label"><%= t('user_accounts.settings.sections.access.current_password') %></label>
						<div class="controls">
						  <%= password_field_tag :current_password %>
						</div>
					</div>

					<div class="row">
						<div class="pull-right">
							<%= f.submit t("user_accounts.settings.save"), :class => "btn btn-primary" %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="span2"></div>
		</div>
	</div>
<% end %>