<div class="side-by-side">
	<div class="left-side-small centered-text">
		<div class="pic">
			<% if cycling_group.picture.image.url.nil? %>
				<%= link_to image_tag("cycling_group_logo.png", :class => "rounded logo", :size => "80x80"), 'javascript:void(0);' %>
			<% else %>
				<%= link_to image_tag(cycling_group.picture.image.url, :class => "rounded logo", :size => "80x80"), 'javascript:void(0);' %>
			<% end %>
		</div>
	</div>
	<div class="right-side-big">
		<div class="left-side-big">
			<p class="title"><%= t('app.models.cycling_group.singular') %></p>
			<p class="name"><%= cycling_group.name %></p>
			<p class="days-to-event"><%= days_to_event(cycling_group) %></p>
		</div>
		<div class="right-side-small">
			<p class="timing"><%= t('app.events.meeting') %></p>
			<p class="hour"><%= cycling_group.meeting_time %></p>
			<p class="timing"><%= t('app.events.departing') %></p>
			<p class="hour"><%= cycling_group.departing_time %></p>
		</div>
	</div>
</div>