<div class="content-fluid">
	<div class="span1"></div>
	<div class="altering-view span10">
		<%= header_for_form(trips_country_city_code_path('mx', 'df'), t("cycling_groups.views.new.title")) %>
		
		<%= instruction_for_form(t("cycling_groups.views.new.steps.one"), 
		"<a class='btn btn-inverse pull-right locate-me'><i class='icon icon-map-marker'></i> #{t('actions.locate_me')}</a>") %>
		<div id="map" class="show-only editable map-dimensions rounded-5 shadow-light"></div>
		<br/>

		<div id="cycling_groups-form" class="form-horizontal">
		<%= form_for [:profiles, @cycling_group], :html => {:class => "form", :multipart => true} do |f| %>
				<%= instruction_for_form(t("cycling_groups.views.new.steps.two"), nil) %>
			  <div class="well">
					<div class="control-group">
						<p><span class="label label-info">Nota</span> <%= t('cycling_groups.views.form.picture_note') %></p>
						<%= f.label :picture, t('cycling_groups.views.form.picture'), :class => 'control-label' %>
						<div class="controls">
							<%= file_field_tag :picture %>
						</div>
					</div>
				</div>
				<%= instruction_for_form(t("cycling_groups.views.new.steps.three"), nil) %>
			  
				<%= render :partial => 'profiles/cycling_groups/form', :locals => {:cycling_group => @cycling_group, :f => f} %>
			</div>
		<% end %>
		</div>
		
	</div>
	<div class="span1"></div>
</div>