<ul class="contact">
	<% if current_user_owns?(cycling_group) || (!current_user.nil? && current_user.superuser?) %>
		<li>
			<a class="btn btn-small edit-cycling-group" href="<%= discover_cycling_groups_edit_path(cycling_group) %>"><i class="icon icon-edit"></i><%= t('states.edit') %></a>
		</li>
	<% end %>
	<% unless cycling_group.twitter_account.blank? %>
		<li>
			<%= link_to(image_tag('twitter-icon.png'), "http://www.twitter.com/#{cycling_group.twitter_account}", :target => "_new") %>
		</li>
	<% end %>
	<% unless cycling_group.facebook_url.blank? %>
		<li>
			<%= link_to(image_tag('facebook-icon.png'), check_and_ammend(cycling_group.facebook_url), :target => "_new") %>				
		</li>
	<% end %>
	<% unless cycling_group.website_url.blank? %>
		<li>
			<%= link_to(image_tag('web-icon.png'), check_and_ammend(cycling_group.website_url), :target => "_new") %>				
		</li>
	<% end %>
</ul>