<div id="<%= cycling_group.slug %>" class="item-wrapper" data-lat="<%= cycling_group.coordinates.lat %>" data-lon="<%= cycling_group.coordinates.lon %>" data-kind="cycling_group">
	<div class="cycling-group">
		<div class="details">
			<div class="info">
				<div>
					<p class="name"><%= link_to cycling_group.name, 'javascript:void(0);' %></p>
					<p class="days-to-event"><%= days_to_event(cycling_group) %></p>
					<p><%= cycling_group.details %></p>
					<ul class="timings">
						<li class="meeting-time"><span class="verb"><%= t('cycling_groups.views.list.meeting_at') %></span> <%= cycling_group.meeting_time %> hrs</li>
						<li class="departing-time"><span class="verb"><%= t('cycling_groups.views.list.departing_at') %></span> <%= cycling_group.departing_time %> hrs</li>
					</ul>
				</div>
				
				<%= render :partial => 'cycling_groups/contact', :locals => {:cycling_group => cycling_group } %>
				<%= render :partial => 'cycling_groups/media', :locals => {:cycling_group => cycling_group } %>
				
			</div>
			<div class="pic">
				<%= render :partial => 'cycling_groups/logo', :locals => {:cycling_group => cycling_group } %>
				
			</div>
		</div>
		
	</div>
</div>