<div id="<%= cycling_group.identifier %>" class="cycling-group poi" data-lat="<%= cycling_group.coordinates.lat %>" data-lon="<%= cycling_group.coordinates.lon %>" data-kind="cycling_group-marker">
	<div class="logo-container">
		<% if cycling_group.picture.image.url.nil? %>
			<%= link_to image_tag("cycling_group_logo.png", :size => '100x100', :class => 'logo-img'), 'javascript:void(0);' %>
		<% else %>
			<%= link_to image_tag(cycling_group.picture.image.url, :size => '100x100', :class => 'logo-img'), 'javascript:void(0);' %>
		<% end %>
	</div>
	<div class="inner-panel">
		<p class="title"><%= cycling_group.name %></p>
		
		<div class="toggable">
			<p class="details"><%= cycling_group.details %></p>
			<ul class="contact">
				<% unless cycling_group.twitter_account.blank? %>
					<li>
						<%= link_to(image_tag('twitter-icon.png'), "http://www.twitter.com/#{cycling_group.twitter_account}", :target => "_new") %>
					</li>
				<% end %>
				<% unless cycling_group.facebook_url.blank? %>
					<li>
						<%= link_to(image_tag('facebook-icon.png'), check_and_ammend(cycling_group.facebook_url), :target => "_new") %>				
					</li>
				<% end %>
				<% unless cycling_group.website_url.blank? %>
					<li>
						<%= link_to(image_tag('web-icon.png'), check_and_ammend(cycling_group.website_url), :target => "_new") %>				
					</li>
				<% end %>
			</ul>
		</div>
		<div class="availability">
			<div class="block">
				<p class="number"><%= cycling_group.meeting_time %></p>
				<p class="text"><%= t('cycling_groups.views.list.meeting_at') %></p>
			</div>
			<div class="block">
				<p class="number"><%= cycling_group.departing_time %></p>
				<p class="text"><%= t('cycling_groups.views.list.departing_at') %></p>
			</div>
		</div>
		<p class="subtitle"><%= days_to_event(cycling_group) %></p>
		<%= render :partial => 'shared/pois/contributor_attribution', :locals => { :user => cycling_group.users.first, :date => cycling_group.updated_at } %>
		
	</div>
	
	<%= render :partial => 'shared/pois/common_actions', :locals => {:delete_url => cycling_group_path(cycling_group), :url => edit_cycling_group_path(cycling_group), :condition => current_user_owns?(cycling_group) || (!current_user.nil? && current_user.superuser?) } %>
</div>