<%= render :partial => 'discover/submenu', :locals => {:section => :cycling_groups, :trips_count => '?', :groups_count => @cycling_groups.count} %>

<% if @cycling_groups.empty? %>
	<div class="row-fluid top-spaced empty-listing">
		<div class="span12">
			<p class="suggest centered-text"><%= t('cycling_groups.views.index.empty.message') %> <b class="blue">:(</b></p>
			<p class="centered-text"><%= image_tag('empty_cycling.png', :size => '600x600') %></p>
			<p class="centered-text"><a href="<%= discover_cycling_groups_new_path %>" class='btn btn-info btn-small new-cycling-group'><i class='icon icon-plus'></i> 
			<%= t('cycling_groups.views.index.empty.suggest') %></a></p>       
		</div>
	</div>
<% else %>
	<div class="items-list listing-view">
		<div class="listing-actions">
			<%= link_to '<i class="icon-chevron-left"></i>  Regresar'.html_safe, discover_cycling_groups_path.concat('#/'), :id => 'back-to-listing' %>
			<a href="<%= discover_cycling_groups_new_path %>" class='btn btn-info btn-small new-cycling-group'><i class='icon icon-plus'></i> 
			<%= t('cycling_groups.views.index.new') %></a>
		</div>
		<% @cycling_groups.each do |cg| %>
			<%= render :partial => 'cycling_groups/cycling_group', :locals => {:cycling_group => cg} %>
		<% end %>
	</div>
<% end %>