<div class="floating-actions">
	<ul class="nav nav-pills">
		<li class="active"><%= link_to t('actions.back'), user_profile_path(@user.username), :class => 'back' %></li>
  </ul>
</div>

<div class="profile">
	<%= render 'shared/notifications' %>
	<%= render :partial => 'profiles/main_user_info', :locals => {:user => @user} %>
	<div class="box rounded-5">
		<h5><%= t('app.profiles.settings.basics.title') %></h5>
		<%= form_for(@user, :url => user_settings_update_path(@user.username), :html => { :method => :put, :class => "form-horizontal top-spaced" }) do |f| %>
			<%= f.text_field :username, :placeholder => t('activerecord.attributes.user.username') %>
		  <%= f.text_field :full_name, :placeholder => t('activerecord.attributes.user.full_name') %>
			<%= f.email_field :email, :placeholder => t('activerecord.attributes.user.email') %>
		  
			<%= f.label :city %>
			<%= f.select :city_id, options_from_collection_for_select(City.all, :id, :name, @user.city_id), {:include_blank => true} %>
	  
			<%= f.label :bio %>
	  	<%= f.text_area :bio, :rows => 5, :cols => 30 %>
	
	  	<%= f.text_field :personal_page, :placeholder => t('activerecord.attributes.user.personal_page') %>
	
			<%= f.label :started_cycling_date %>
			<%= f.date_select :started_cycling_date, :discard_day => true %>

			<div class="submit-area">
				<%= f.submit t('actions.save'), :class => "submit-button" %>
				<%= image_tag('mini_spinner.gif', :class => "spinner") %>
			</div>
		<% end %>
		
		<div class="separator"></div>
		<br/>
		<h4 class="emphasize">Establece o actualiza tu foto de perfil</h4>
		<br/>
		<% unless @user.picture.nil? %>
			<p>
				<span>Si lo deseas, puedes eliminar la imagen actual: </span>
				<%= link_to '<i class="icon-remove icon"></i> Eliminar'.html_safe, user_settings_destroy_pic_path(@user.username), :method => :delete, :class => "btn btn-danger pull-right" %>
				</p>
		<% end %>
		
		<%= form_tag user_settings_update_pic_path(@user.username), :multipart => true , :method => :put, :class => "form-horizontal" do %>
			<br/>
			<div class="fileupload fileupload-new" data-provides="fileupload">
				<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
					<% if !@user.picture.nil? && !@user.picture.image.url.nil? %>
						<%= image_tag(@user.picture.image.url) %>
					<% end %>
					<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
				</div>
				<span class="btn btn-file">
					<span class="fileupload-new"><%= t('actions.input_file.select') %></span>
					<span class="fileupload-exists"><%= t('actions.input_file.change') %></span>
					<%= file_field_tag('file') %>
				</span>
				<a href="#" class="btn fileupload-exists" data-dismiss="fileupload"><%= t('actions.input_file.remove') %></a>
			</div>
			<br/>
			<div class="submit-area">
				<%= submit_tag t('actions.save'), :class => "submit-button" %>
				<%= image_tag('mini_spinner.gif', :class => "spinner") %>
			</div>
		<% end %>
	</div>
</div>

