<div class="container-fluid">
	<div class="row-fluid">
		<div class="pull-right">
			<% if user_signed_in? %>
				<a class='btn btn-success' href="<%= new_bike_path %>"><i class='icon icon-map-marker'></i> <%= t('bikes.actions.register') %></a>
			<% else %>
				<a class='btn btn-success' href="<%= new_user_session_path %>"><i class='icon icon-map-marker'></i> <%= t('bikes.actions.register') %></a>
			<% end %>
		</div>
	</div>
	<h3 class="centered-text">Bicis y más</h3>
	<div class="separator"></div>
	<%= render 'bikes/sub_bar'%>
	<div>
		<% if @items.empty? %>
			<div class="row-fluid top-spaced">
				<div class="span12">
					<p class="centered-text"><%= image_tag('empty_icon.png') %></p>
					<% if controller.action_name == 'stolen' %>
						<h3 class="empty centered-text"><%= t('bikes.views.stolen.empty.message') %></h3>
						<p class="centered-text"><%= link_to t('bikes.views.stolen.empty.invite'), new_profiles_incident_path.concat('/#/theft') %></p>
						
					<% elsif controller.action_name == 'index' %>
						<h3 class="empty centered-text"><%= t('bikes.views.index.empty.message') %></h3>
						<p class="centered-text"><%= link_to t('bikes.views.index.empty.invite'), new_bike_path %></p>
					<% elsif controller.action_name == 'recovered' %>
						<h3 class="empty centered-text"><%= t('bikes.views.recovered.empty.message') %></h3>
						<p class="centered-text"><%= link_to t('bikes.views.recovered.empty.invite'), stolen_bikes_path %></p>
					<% elsif controller.action_name == 'popular' %>
						<h3 class="empty centered-text"><%= t('bikes.views.popular.empty.message') %></h3>
						<p class="centered-text"><%= link_to t('bikes.views.popular.empty.invite'), popular_bikes_path %></p>
					<% elsif controller.action_name == 'sell_or_rent' %>
						<h3 class="empty centered-text"><%= t('bikes.views.sell_or_rent.empty.message') %></h3>
						<% if user_signed_in? %>
							<p class="centered-text"><%= link_to t('bikes.views.sell_or_rent.empty.logged_in.invite'), user_gear_path(current_user.username) %></p>
						<% else %>
							<p class="centered-text"><%= link_to t('bikes.views.sell_or_rent.empty.not_logged_in.invite'), sign_up_path %></p>
						<% end %>
					<% elsif controller.action_name == 'shared' %>
						<h3 class="empty centered-text"><%= t('bikes.views.shared.empty.message') %></h3>
						<% if user_signed_in? %>
							<p class="centered-text"><%= link_to t('bikes.views.shared.empty.logged_in.invite'), user_gear_path(current_user.username) %></p>
						<% else %>
							<p class="centered-text"><%= link_to t('bikes.views.shared.empty.not_logged_in.invite'), sign_up_path %></p>
						<% end %>
					<% elsif controller.action_name == 'services_and_accessories' %>
						<h3 class="empty centered-text"><%= t('bikes.views.services_and_accessories.empty.message') %></h3>
						<p class="centered-text"><%= t('bikes.views.services_and_accessories.empty.invite', :contact => mail_to(t('app.contact.promote'))).html_safe %></p>
					<% end %>
				</div>
			</div>
		<% else %>
			<div id="masonry" class="index centered">
				<% @items.each do |item| %>
					<% if item.is_a? Bike %>
						<%= render :partial => 'bikes/bike', :locals => { :bike => item, :showing_bike_owner => true } %>
					<% elsif item.is_a? Promoted %>
						<%= render :partial => 'promoteds/promoted', :locals => { :promoted => item } %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>