<div id="section-bikes" class="show">
	<%= render 'bikes/toolbar' %>
	<div id="b-<%= @bike.id %>" class="bike board rounded-top-5 shadow-light centered">
		
		<div class="details">			
			<div class="row-fluid">
				<div class="centered-text">
					<h3><%= @bike.name %></h3>
					<%= t('bikes.views.show.owned_by') %><%= contact_for(@bike) %>
				</div>
			</div>
			
			<%= render :partial => 'bikes/visible_status', :locals => {:bike => @bike } %>
			
		</div>
		
		<div class="description centered">
			<p class="main">
				<%= @bike.description %>
			</p>
		</div>
		
		<div class="photos imageable-photos centered">
			<%= render :partial => "bikes/pictures", :locals => {:bike => @bike } %>
			<%= render :partial => "pictures/management_panel", :locals => {:bike => @bike} %>
		</div>
	
		<div class="statuses centered">
			<%= render :partial => 'bike_statuses/index', :locals => { :bike => @bike } %>
		</div>

		<div class="comments centered">
			<%= render :partial => 'comments/index', :locals => { :commentable => @bike } %>
		</div>
	</div>

	<div class="hidden">
		<div id="url"><%= bike_pictures_path(@bike) %></div>
		<div id="url-reload"><%= bike_path(@bike) %></div>
		<div id="token"><%= form_authenticity_token %></div>
	</div>
</div>