<div id="<%= parking.identifier %>" class="centered place parking item-on-list rounded-5" data-kind="parking" data-lat="<%= parking.lat %>" data-lon="<%= parking.lon %>">
	<div class="content-fluid">
		<div class="row-fluid">
			<div class="span9"><p>
				<span class="emph"><%= t('places.parkings.name') %></span> 
				<span class="title"><%= parking.humanized_kind %></span></p>
			</div>
			<div class="span3 right-text"><p><%= parking.has_roof ? t('places.parkings.views.show.with_roof') : t('places.parkings.views.show.without_roof') %></p></div>
		</div>
		<div class="row-fluid">
			<div class="span12 centered-text">
				<p><%= parking.details.blank? ? t('places.parkings.views.show.details_empty') : parking.details %></p>
			</div>
		</div>
		<div class="separator"></div>
		<!-- Render actions that appear below the separator -->
		<div class="row-fluid">
			<ul class="pull-left contextual-actions inlined-list">
				<% if current_user && current_user.owns?(parking) %>
					<li><i class="icon icon-remove"></i> <%= link_to 'Eliminar', 'javascript:void(0);', "data-id" => parking.id, :class => "delete-parking" %></li>
				<% end %>
				
				<% if current_user && (current_user.owns?(parking) || parking.others_can_edit_it) %>
					<li><i class="icon icon-edit"></i> <%= link_to 'Modificar', edit_profiles_parking_path(parking) %></li>
				<% end %>
			</ul>
			<ul class="pull-right contextual-info inlined-list">
				<li>
					<div>
						<span class="time"><%= distance_of_time_in_words(parking.updated_at || Date.today, Time.now, true) %></span> 
						<% unless current_user_equals(@user) %>
							<span class="reporter"><%= reporter_of(parking, "/#/places/parkings/#{parking.identifier}") %></span>
						<% end %>
					</div>
				</li>
			</ul>
		</div>		
	</div>
</div>