<div id="route-<%= route.id %>" class="route rounded-5">
	<div class="side-by-side main-box">
		<div class="left-side-small centered-text">
			<p><%= image_tag('route_start-marker.png') %></p>
		</div>
		<div class="right-side-big">
			<div class="left-side-big">
				<p class="name"><%= route.name %></p>
			</div>
			<div class="right-side-small">
				<p class="distance-in-kms"><%= '%.2f' % route.kilometers %></p>
				<p class="unit">KM</p>
			</div>
		</div>
	</div>
	<div class="actions">
		<span class="date"><%= t('commons.updated') %> <%= distance_of_time_in_words_to_now(route.updated_at) %></span>
		<% if user_can_edit_route?(current_user, route) %>
			<%= link_to t('actions.delete'), route_path(route), :method => :delete, :confirm => t('app.routes.confirmation.delete'), :class => 'btn-small individual' %>
			<%= link_to t('actions.edit'), profiles_edit_user_route_path(@user, route), :class => 'btn-small individual' %>
		<% end %>
		<%= link_to "<i class='icon-map-marker'></i> #{t('actions.view_on_map')}".html_safe, discover_index_path.concat("#/routes/#{route.id}"), :class => 'btn-small individual' %>
	</div>
</div>