<div class="side-by-side main-box">
	<div class="left-side-small centered-text">
		<p><%= image_tag('routes_icon.png') %></p>
	</div>
	<div class="right-side-big">
		<div class="left-side-big">
			<p><span class="title"><%= t('app.models.route.singular') %></span> <span class="btn-mini"><i><%= distance_of_time_in_words_to_now(route.updated_at) %></i></span></p>
			<p class="name"><%= route.name %></p>
			<p class="details"><%= route.details %></p>
		</div>
		<div class="right-side-small">
			<p class="distance-in-kms"><%= '%.2f' % route.kilometers %></p>
			<p class="unit">KM</p>
		</div>
	</div>
</div>