<% content_for :panel do %>	
	<div class="panel route">
		<div class="inner-panel inner-panel-small">
			<%= render :partial => 'shared/notifications' %>
			<%= render :partial => 'profiles/routes/route_simple', :locals => {:route => @route	} %>
		</div>
				
		<div class="status-box">
			<div class="side-by-side">
				<div class="left-side">
					<p>
					<%= render :partial => 'users/shared/quick_details', :locals => { :user => @user } %>
					<span class="glossy"><%= t('connectives.by') %> <%= link_to @user.username, user_profile_path(@user.username) %><i><span class="btn-mini"><%= distance_of_time_in_words_to_now(@route.updated_at) %></span></i></span>
					</p>
				</div>
				<div class="right-side">
					<span class="glossy">
						<%= link_to "<i class='icon-time'></i> #{t('app.routes.actions.timings')}".html_safe, '#/timings', :class => "btn-mini timings-list" %>
						<%= link_to "<i class='icon-chevron-up'></i> #{t('actions.title')}".html_safe, '#/', :class => "btn-mini hide-extra" %>
						<%= link_to "<i class='icon-chevron-down'></i> #{t('actions.title')}".html_safe, '#/actions', :class => "btn-mini hidden show-extra" %>
					</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel temporal-container"></div>
	
	<div id="actions" class="hidden"><%= render :partial => 'profiles/routes/actions', :locals => {:route => @route, :user => @user} %></div>
	<div id="timings" class="hidden"><%= render 'profiles/routes/timings' %></div>
	
	<div id="route-details" 
	class="hidden"
	data-origin-lat="<%= @route.origin_coordinate.lat %>" 
	data-origin-lon="<%= @route.origin_coordinate.lon %>"
	data-end-lat="<%= @route.end_coordinate.lat %>" 
	data-end-lon="<%= @route.end_coordinate.lon %>"
	data-path="<%= @route.to_points_list %>" ></div>
<% end %>