<% content_for :panel do %>	
	<div class="panel route">
		<div class="inner-panel inner-panel-small">
			<%= render :partial => 'shared/notifications' %>
			<div class="side-by-side main-box">
				<div class="left-side-small centered-text">
					<p><%= image_tag('routes_icon.png') %></p>
				</div>
				<div class="right-side-big">
					<div class="left-side-big">
						<p class="title"><%= t('app.models.route.singular') %></p>
						<p class="name"><%= @route.name %></p>
						<p class="details"><%= @route.details %></p>
					</div>
					<div class="right-side-small">
						<p class="distance-in-kms"><%= '%.2f' % @route.kilometers %></p>
						<p class="unit">KM</p>
					</div>
				</div>
			</div>
		</div>
				
		<div class="status-box">
			<div class="side-by-side">
				<div class="left-side">
					<p>
					<% if !@user.picture.nil? %>
						<%= link_to image_tag(@user.picture.image.mini_thumb.url, :class => 'circle circle-30'), user_profile_path(@user.username) %>
					<% else %>
						<%= link_to image_tag('user_no_pic.png', :class => 'circle circle-30'), user_profile_path(@user.username) %>
					<% end %>
					<span class="by"><%= t('connectives.by') %> <%= link_to @user.username, user_profile_path(@user.username) %> <i>hace 1 mes</i></span>
					</p>
				</div>
				<div class="right-side">
					<%= link_to "<i class='icon-chevron-up'></i> #{t('actions.toggle.hide')}".html_safe, 'javascript:void(0);', :class => "btn-mini btn-inverse btn hide-extra" %>
					<%= link_to "<i class='icon-chevron-down'></i> #{t('actions.toggle.show')}".html_safe, 'javascript:void(0);', :class => "btn-mini btn-inverse btn hidden show-extra" %>
					
					<%= link_to "<i class='icon-download-alt'></i> #{t('actions.download')}".html_safe, nil, :class => "btn-mini btn-white btn" %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel actions">
		<div class="side-by-side">
			<div class="left-side">
				<%= link_to t('app.routes.all'), routes_path, :class => 'btn btn-mini btn-info' %>
			</div>
			<div class="right-side">
				<% if @route.owned_by?(@user) %>
					<%= link_to t('actions.edit'), profiles_edit_user_route_path(@user.username, @route), :class => 'btn btn-mini btn-warning' %>
					<%= link_to "<i class='icon-remove'></i> #{t('actions.delete')}".html_safe, route_path(@route), :method => :delete, :class => "btn btn-danger btn-mini", :confirm => t('confirmations.route.delete') %>					
				<% end %>
			</div>
		</div>
	</div>
	
	<div id="route-details" 
	class="hidden"
	data-origin-lat="<%= @route.origin_coordinate.lat %>" 
	data-origin-lon="<%= @route.origin_coordinate.lon %>"
	data-end-lat="<%= @route.end_coordinate.lat %>" 
	data-end-lon="<%= @route.end_coordinate.lon %>"
	data-path="<%= @route.to_points_list %>" ></div>
<% end %>