<% content_for :panel do %>	
	<div class="panel route">
		
		<div class="inner-panel inner-panel-centered inner-panel-small">
			<%= render :partial => 'shared/notifications' %>
			<div class="row-fluid">
				<div class="span2 centered-text">
					<%= image_tag('routes_icon.png') %>
				</div>
				<div class="span7">
					<p class="title"><%= t('app.models.route.singular') %></p>
					<p class="name"><%= @route.name %></p>
					<p class="details"><%= @route.details %></p>
				</div>
				<div class="span2">
					<p class="distance-in-kms"><%= '%.2f' % @route.kilometers %></p>
					<p class="unit">KM</p>
				</div>
			</div>
		</div>
		
		<% if @route.owned_by?(@user) %>
			<div class="status">
				<%= link_to t('actions.edit'), profiles_edit_user_route_path(@user.username, @route), :class => 'btn btn-small btn-warning' %>
				<%= link_to t('actions.delete'), route_path(@route), :method => :delete, :class => "btn btn-danger btn-small", :confirm => t('confirmations.route.delete') %>
			</div>
		<% end %>
	</div>
	
	<div id="route-details" 
	class="hidden"
	data-origin-lat="<%= @route.origin_coordinate.lat %>" 
	data-origin-lon="<%= @route.origin_coordinate.lon %>"
	data-end-lat="<%= @route.end_coordinate.lat %>" 
	data-end-lon="<%= @route.end_coordinate.lon %>"
	data-path="<%= @route.to_points_list %>" ></div>
<% end %>