<div class="login rounded-5">
	<ul class="nav nav-pills">
  	<li class="active"><%= link_to t('actions.back_arrow').html_safe, new_user_session_path, :class => 'back' %></li>
  </ul>
	
	<div class="form">
		<h2><%= t("user_accounts.forgot_password") %></h2>
		
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages_for('password_recovery') %>
			<div class="fields">
				<%= f.email_field :email, :placeholder => t('activerecord.attributes.user.email') %>
				<div class="submit-area">
					<%= f.submit t("user_accounts.passwords.reset_password"), :class => "submit-button" %>
				</div>
			</div>
		<% end %>
	</div>
</div>