<div id="tp-<%= trip_poi.identifier %>" class="<%= trip_poi.category_symbol %> trip-poi" data-icon="<%= trip_poi.icon_name %>"
	data-title="<%= trip_poi.title %>" data-details="<%= trip_poi.details %>" data-lat="<%= trip_poi.lat %>" data-lon="<%= trip_poi.lon %>"></div>