<%= hidden_field_tag :path, '' %>

<%= f.text_field :name, :class=> "span12", :placeholder => t('activerecord.attributes.route.name') %>

<%= f.label :details, t('activerecord.attributes.route.details') %>
<%= f.text_area :details, :rows => 5, :class=> "span12" %>

<div class="small-field-with-label">
	<%= f.label :is_public, t('activerecord.attributes.route.is_public') %>
	<%= f.check_box :is_public %>
</div>
<div class="small-field-with-label">
	<%= f.label :kilometers, t('activerecord.attributes.route.kilometers') %>
	<%= f.text_field :kilometers, :class=> "span2", :readonly => true %>
</div>

<div class="small-field-with-label">
	<%= f.label :inverted, t('activerecord.attributes.route.invert') %>
	<%= f.check_box :inverted %>
</div>

<div class="submit-area">
	<%= f.submit t('actions.save'), :class => "submit-button" %>
</div>
