<% if !user.picture.nil? %>
	<div class="centered centered-text">
		<div id="profile-image" class="centered centered-text">
			<%= link_to image_tag(user.picture.image.mini_thumb.url, :size => '80x80', :class => 'circle circle-80'), settings_profile_path %>
		</div>
	</div>
<% else %>
	<div class="profile-image-placeholder centered centered-text">
		<%= link_to image_tag('/assets/empty_user_icon.png', :size => '80x80', :class => 'empty-user-icon'), settings_profile_path %>
		<%= link_to image_tag('/assets/add_picture_user_icon.png', :size => '80x80', :class => 'add-user-icon'), settings_profile_path %>
	</div>
<% end %>

<div class="centered-text">
	<h3><%= user.username %></h3>
	<% unless user.city.nil? %>
		<p><%= user.city.name %></p>
	<% end %>
</div>