<% if !user.picture.nil? %>
	<div class="centered centered-text">
		<div id="profile-image" class="circular centered centered-text" data-image-url="<%= user.picture.image.mini_thumb.url %>">
			<% if user.picture.nil? %>
				<%= image_tag(user.picture.image.mini_thumb.url) %>
			<% else %>
				<%= link_to image_tag(user.picture.image.mini_thumb.url), settings_profile_path %>
			<% end %>
		</div>
	</div>
<% else %>
	<div class="avatar-img centered centered-text">
		<a href="<%= settings_profile_path %>" class="picture-file-selector"><i class="icon-user"></i></a>
	</div>
<% end %>

<div class="centered-text">
	<h3><%= user.username %></h3>
	<% unless user.city.nil? %>
		<p><%= user.city.name %></p>
	<% end %>
</div>