<div id="<%= workshop.identifier %>" class="centered item-on-list rounded-5 place workshop" data-kind="workshop" data-lat="<%= workshop.lat %>" data-lon="<%= workshop.lon %>">
	<div class="content-fluid">
		<div class="row-fluid header">
			<div class="span5 title">
				<span class="emph">
					<%= workshop.store? ? t('places.workshops.views.show.store') : t('places.workshops.views.show.workshop') %>
				</span>
				<span class="title"><%= workshop.name %></span></div>
			<div class="span7 horary">
				<% if workshop.horary.blank? %>
					<%= t('places.workshops.views.show.horary_empty') %>
				<% else %>
					<span class="open"><%= t('places.workshops.views.show.horary') %></span><%= workshop.horary %>
				<% end %>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 details centered-text"><p><%= workshop.details %></p></div>
		</div>
		<div class="row-fluid contact">
			<div class="span4 centered-text">
				<span class="mean"><%= t('places.workshops.views.show.phones') %></span> <%= phones_for(workshop) %>
			</div>
			<div class="span4 centered-text">
				<span class="mean"><%= t('places.workshops.views.show.twitter') %></span> <%= twitter_for(workshop) %>
			</div>
			<div class="span4 centered-text">
				<span class="mean"><%= t('places.workshops.views.show.webpage') %></span> <%= webpage_for(workshop) %>
			</div>
		</div>
		<div class="separator"></div>
		<!-- Render actions that appear below the separator -->
		<div class="row-fluid">
			<ul class="pull-left contextual-actions inlined-list">
				<% if current_user && current_user.owns?(workshop) %>
					<li><i class="icon icon-remove"></i> <%= link_to 'Eliminar', 'javascript:void(0);', "data-id" => workshop.id, :class => "delete-workshop" %></li>
				<% end %>
				
				<% if current_user && (current_user.owns?(workshop) || workshop.others_can_edit_it) %>
					<li><i class="icon icon-edit"></i> <%= link_to 'Modificar', edit_profiles_workshop_path(workshop) %></li>
				<% end %>
			</ul>
			<ul class="pull-right contextual-info inlined-list">
				<li>
					<div>
						<span class="time"><%= distance_of_time_in_words(workshop.updated_at || Date.today, Time.now, true) %></span> 
						<% unless current_user_equals(@user) %>
							<span class="reporter"><%= reporter_of(workshop, "/#/places/workshops/#{workshop.identifier}") %></span>
						<% end %>
					</div>
				</li>
			</ul>
		</div>		
	</div>
</div>