<div class="top-spaced"></div>

<div class="trip-detailed container-fluid">
	
	<div class="row-fluid">
		<div class="span12">
			<div class="pull-left">
				<ul class="nav nav-pills">	
					<li><%= link_to t('actions.back_arrow').html_safe, :back %></li>
				</ul>
			</div>
			<div class="pull-right">
				<p><span class="name"><%= @trip.name %></span><span class="city"><%= @trip.city.name %></span></p>
			</div>
		</div>
	</div>
	<div class="separator"></div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="pull-left">
					<%= image_tag('calendar_icon.png', :size => '30x30') %>
					<%= @trip.details %>
					<span class="periodicity"><%= @trip.days_to_event %></span>
				</div>
				<div class="pull-right">
					<a class="btn btn-inverse locate-me"><i class="icon icon-map-marker"></i> Ubicarme</a></div>
				</div>
		</div>
	</div>
	<%= render 'categories_menu' %>
	<div id="map" class="show-only edit map-dimensions map-big shadow-light rounded-5"></div>
	
</div>


<div id="selected-city" data-default-lat="<%= @trip.city.lat %>" data-default-lon="<%= @trip.city.lon %>"></div>
<div class="trip-paths">
	<% @trip.segments.each do |segment| %>
		<div id="<%= segment.id %>" class="segment" data-path="<%= segment.to_points_list %>" data-colour="<%= segment.color %>" data-details="<%= segment.details %>"></div>
	<% end %>
</div>
<div class="trip-pois hidden">
	<% @trip.trip_pois.each do |trip_poi| %>
		<%= render trip_poi %>
	<% end %>
</div>