<div id="p-<%= promoted.id %>" class="promoted item-bikly board rounded-5 shadow-light">
	
	<p class="title"><%= link_to promoted.headline, promoted_path(promoted) %></p>
	<p class="brand"><%= promoted.main_details %></p>	
	<div class="owner"><span><%= promoted.promoter_name %></span></div>
	<div class="photo">
		<% if promoted.pictures.empty? %>
			<%= link_to image_tag('thumb_no_promoted.png'), promoted_path(promoted) %>
		<% else %>
			<%= link_to image_tag(promoted.pictures.first.image.thumb.url), promoted_path(promoted) %>
		<% end %>
	</div>
	<div class="status row-fluid">
		<p class="pull-left">
			<%= render :partial => 'promoteds/likes_count', :locals => {:promoted => promoted } %>
		</p>
		<p class="comments pull-right"><span class="count"><%= promoted.comments.count %></span>
			<a href="<%= promoted_path(promoted) %>#comments"><%= t("bikes.views.show.comments.#{promoted.comments.count == 1 ? 'one' : 'some'}") %></a>
		</p>
		<div class="clear"></div>
	</div>	
</div>