<%= render 'maps/shared/city_not_set_alert' %>
<%= render 'maps/shared/header' %>

<div>	
	<%= navbar_map_for %>
	<div id="stats-container">
		<%= render :partial => 'maps/tips/stats', :locals => {:hashed_count => @tips_count} %>
	</div>
</div>

<div id="map" class="show-only edit map-dimensions map-big shadow-light rounded-5"></div>
<br>
<div class="content-fluid">
	<div id="listing-contents" class="listing-view" data-suburl="tips">
		<%= render :partial => 'profiles/tips/tip', :collection => @tips, :locals => {:show_actions => false} %>
	</div>
</div>