<div class="floating-actions">
	<ul class="nav nav-pills">
		<li class="active"><%= link_to t('app.profiles.navbar.explore'), discover_index_path, :class => 'back' %></li>
		<li class="active"><%= link_to t('app.profiles.navbar.curated_trips'), trips_path, :class => 'back' %></li>

		<% if !current_user.nil? && current_user == @user %>
  		<li><%= link_to t('app.profiles.navbar.new_route'), new_route_path, :class => 'back' %></li>
			<% if @user.can_contribute_to_city? %>
  			<li><%= link_to t('app.profiles.navbar.new_path'), new_cycle_path_path, :class => 'back' %></li>
			<% end %>
  		<li><%= link_to t('app.profiles.navbar.new_group'), new_cycling_group_path, :class => 'back' %></li>
			<li class="active"><%= link_to t('app.profiles.navbar.sign_out'), destroy_user_session_path, :method => :delete, :class => 'back' %></li>
		<% else %>
			<li class="active"><%= link_to t('app.profiles.navbar.sign_in'), new_user_session_path, :class => 'back' %></li>
		<% end %>
  </ul>
</div>

<div class="profile">
	<%= render 'shared/notifications' %>	
</div>

<%= content_for(:section , t('app.views.stats.title_')) %>
<%= content_for(:klass, 'stats') %>
<% content_for :panel do %>	
	<div class="panel trips-list centered-text">
		<div class="top-spaced"></div>
		<p class="title"><%= t('app.views.stats.title').html_safe %></p>
		<div class="inner-panel inner-panel-small">
			
		</div>
		<div class="inner-panel inner-panel-small call-to-action hidden">
			<p id="return">
				<%= link_to t('actions.back_arrow').html_safe, '#/' %>
			</p>
		</div>
	</div>
<% end %>