<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>
	  
	<%= stylesheet_link_tag    "bikes" %>
  <%= javascript_include_tag "bikes" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= render 'shared/notice' %>
<div class="background-logo"></div>
<%= render 'layouts/shared/navbar' %>

<div class="top-spaced-70">
	<%= yield %>
</div>

</body>
</html>
