<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>
	  
	<%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shared/fb' %>
	<%= render 'layouts/shared/fav_icons' %>
	<%= render 'layouts/shared/mix_panel' %>
</head>
<body>
	
<div class="background-logo"></div>
<%= render 'layouts/shared/navbar' %>

<div class="top-spaced-70">
	<%= yield %>
</div>

</body>
</html>
