<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<%= stylesheet_link_tag    "landing" %>
  <%= javascript_include_tag "landing" %>
  <%= csrf_meta_tags %>
	
	<%= render 'layouts/shared/fav_icons' %>
	<%= render 'layouts/shared/mix_panel' %>
</head>
<body>	
	
<%= yield %>

</body>
</html>