<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>

	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<%= stylesheet_link_tag    "landing" %>
  <%= javascript_include_tag "landing" %>
  <%= csrf_meta_tags %>
	
	<%= render 'layouts/shared/fav_icons' %>
	<%= render 'layouts/shared/mix_panel' %>
</head>
<body>	
	
<%= yield %>

</body>
</html>