<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>
	  
	<%= stylesheet_link_tag    "plain" %>
  <%= javascript_include_tag "plain" %>
	<%= yield(:javascripts) %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="background-logo"></div>	
<%= yield %>

</body>
</html>