<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>
	  
	<%= stylesheet_link_tag    "profiles" %>
  <%= javascript_include_tag "profiles" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/notice' %>
<div class="background-logo"></div>
<%= render 'layouts/shared/navbar' %>

<div class="row-fluid top-spaced-70 profile">
	<div class="span1"></div>
	<div class="span2">
		<div class="avatar-img centered centered-text"><i class="icon-user"></i></div>
		<div>
			<h3 class="centered-text"><%= @user.username %></h3>
		</div>
		<div class="well menu">
			<ul class="nav nav-list">
	    	<li class="nav-header">Tú</li>
	    	<li class="active">
					<%= link_to (user_signed_in? ? 'Tu actividad' : 'Actividad reciente'), user_profile_path(@user.username) %>
				</li>
	    	<li>
					<%= link_to (user_signed_in? ? 'Tus bicis' : 'Bicis'), user_bikes_path(@user.username) %>
				</li>
				<% if user_signed_in? %>
					<li><a href="#">Cerca de ti</a></li>
		    	<li><a href="#">Mensajes</a></li>
		    	<li><a href="#">Boletín Semanal</a></li>
	    		<li class="nav-header">Tu Wikicleta</li>
					<li><%= link_to 'Perfil', settings_profile_path %></li>
					<li><%= link_to 'Acceso', settings_access_path %></li>
				<% end %>
	    </ul>
		</div>
	</div>
	<div class="span8"><%= yield %></div>
	<div class="span1"></div>
</div>


</body>
</html>