<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

  <%= stylesheet_link_tag    "trips" %>
  <%= javascript_include_tag "trips" %>
	<%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>

<body>
	<%= render 'shared/notice' %>
	<div class="background-logo"></div>
	<%= render 'layouts/shared/navbar' %>
	
	<div class="row-fluid top-spaced-70">
		<div class="span1"></div>
		<div class="span10"><%= yield %></div>
		<div class="span1"></div>
	</div>	
</body>

<div class="footer top-spaced-70">
</div>

</html>