<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.name') %></title>
	  
	<%= stylesheet_link_tag    "welcome" %>
  <%= javascript_include_tag "application" %>
	<%= yield(:javascripts) %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= yield %>

</body>
</html>