<div class="login">
	<ul class="nav nav-pills">
  	<li class="active"><%= link_to t('actions.back_arrow').html_safe, new_user_session_path, :class => 'back' %></li>
  </ul>
	<div class="form">
		<h2><%=t "user_accounts.registrations.new.title" %></h2>
		
		<%= form_for(resource, :as => resource_name, :url => account_create_path) do |f| %>
		  <%= devise_error_messages_for('registration') %>
			<div class="fields">
				<%= f.text_field :full_name, :placeholder => t('activerecord.attributes.user.full_name') %>
		  	<%= f.email_field :email, :placeholder => t('activerecord.attributes.user.email') %>
				<%= f.text_field :username, :placeholder => t('activerecord.attributes.user.username') %>
				<%= f.password_field :password, :placeholder => t('activerecord.attributes.user.password') %>
				<%= f.password_field :password_confirmation, :placeholder => t('activerecord.attributes.user.password_confirmation') %>
				
				<div class="submit-area">
					<%= f.submit t('user_accounts.registrations.new.commit'), :class => "submit-button" %>
				</div>
			</div>
		<% end %>
	</div>
</div>